[submodule "congo"]
	path = congo
	url = https://github.com/jpanther/congo.git
[submodule "jdk/themes/congo"]
	path = jdk/themes/congo
	url = https://github.com/jpanther/congo.git
[submodule "jdk/themes/hugo-coder"]
	path = jdk/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
